extends layout

block content
  #aboutme.aboutme
      .container
        h3.text-center.divheaders ABOUT ME
        .row
          #aboutmecol.col-md-12
            p.text-justify.para
              | I'm Obende Praise, Win.P for short. I love to develop websites and also use my knowledge in digital marketing help my clients in getting returns on their businesses. I love technology generally.
            p.text-justify.para
              | After graduating with a Bachelor's in Electrical & Electronics Engineering, I took up the challenge of learning web development. With the help of numerous tutorials and softwares, I was able to complete some web development courses.
              | My first shot at designing a functional website was a website for aunt's start-up school. It was a whole lengthy and exciting experience from start to finish.
            p.text-justify.para
              | In the process of designing that website, I fell in love with the link that existed between designing a website and employing the website to get returns via marketing. I then took some digital marketing courses and also subsequently
              | ran some social media campaigns for my aunt's school also. It was a whole lot of experience learning the ropes of both fields.
            p.text-justify.para
              | I currently teach Mathermatics and Physics at a secondary school in Akure as I am passionate about passing down knowledge to the younger generation.
            p.text-justify.para
              | In essence, I am a passionate freelance Web Designer, Digital Marketer and a Tutor.