extends layout

block content
  #home.div1
      h2#head1.text-center.divheaders(style='font-family:Raleway, sans-serif;') Hey, I'm win.P
      img.img-circle.img-responsive(src='images/winp.png', style='height:230px;padding:0px;padding-left:0px;margin-left:0pxpx;')
      p#mj.lead.text-center.para(style='font-family:Lato, sans-serif;')
        i.glyphicon.glyphicon-th
        |  Web Developer 
        i.glyphicon.glyphicon-th
        |  Digital Marketer 
        i.glyphicon.glyphicon-th
        |  Mathematics/Physics Tutor
      .footer(style='background-color:rgb(255,255,255);height:1px;margin-bottom:0px;padding-bottom:1px;')
        a(href='https://www.facebook.com/praiseobende', target='_blank')
          i.fa.fa-facebook-official.icons
        a(href='tel:+2348168488612')
          i.fa.fa-phone.icons
        a(href='https://twitter.com/praiseobende')
          i.fa.fa-twitter-square.icons
        a(href='https://www.instagram.com/pr1ise/')
          i.fa.fa-instagram.icons
        a(href='https://www.linkedin.com/in/praise-obende-67968525/')
          i.fa.fa-linkedin-square.icons
