extends layout

block content
  #portfolio.div2
  .container.portfoliocontainer
    h2#pee.text-uppercase.text-center.divheaders PORTFOLIO 
    .row
      .col-md-4.col-sm-4.col-xs-12.portcol
        .thumbnail
          div
          a(href='#')
            img.img-circle.img-responsive(src='images/Capture.PNG', width='140px', height='140px')
        p.text-justify.whatis(style='font-family:Lato, sans-serif;') WEB DEVELOPMENT / DIGITAL MARKETING
      .col-md-4.col-sm-4.col-xs-12.portcol
        .thumbnail
          a(href='#')
            img.img-responsive(src='images/logo.PNG', width='200px', height='50px')
        p.text-justify.whatis(style='font-family:Lato, sans-serif;') WEB DEVELOPMENT
      .col-md-4.col-sm-4.col-xs-12.portcol
        .thumbnail
          a(href='#')
            img.img-circle.portfoliologo(src='images/Capture.PNG', alt='ss obende logo', width='140px', height='140px')
        p.text-justify.whatis(style='font-family:Lato, sans-serif;') WEB DEVELOPMENT
