extends layout

block content
  .content
  #thankscontainer.container
    p.lead.text-justify.para Your message was successfully sent! 
    p#p2class.lead.text-justify.para Thank you for contacting me, I will get back to you as soon as possible! 
    a.btn.btn-primary.btn-lg(role='button', href='/') Go back home 
    a.btn.btn-warning.btn-lg.bloglink(role='button', href='/blog') Check out my Blog!
